<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
		/>
		<meta http-equiv="content-security-policy" content=""><title>PanelHeaderBack — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-739e8c4b.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-a7f565b9.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-777b9200.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-049c144f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-1eb0d6ee.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-2a367881.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-4d60ab4a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-6a94c2d6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-2779a642.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-8fd7193d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-d225d397.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-b85c9904.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-6ae803f7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-4676bbc7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-297ee8be.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-17b927e1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-3a368c8a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-85932a6e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-c7bd40d3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-56c93527.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-2892e667.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-6dc78e4f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-60c6d39f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-3c9a0ebb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-750bb3b8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-a0681de3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-7dd43042.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Layout/PanelHeaderBack.svelte-9c8f9bfa.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-c76084ee.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7485e507.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
		
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

		<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
						</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

				

				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1k4harm">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Layout/PanelHeaderBack/PanelHeaderBack.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Layout/PanelHeaderBack/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">Редактировать страницу</div>
</a></div>
	<article class="svelte-1k4harm"><h1 id="panelheaderback">PanelHeaderBack</h1>
<p>Этот компонент используется для показа кнопки назад в панелях в рамках одного <code>View</code>. Внутри инкапсулирована логика показа нужной иконки для платформы.</p>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	</div>

<div class="Example svelte-3bec25">

<div hidden class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25  mini" style=""><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style=""><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button slot="left" class="PanelHeaderBack PanelHeaderBack--android PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--arrow_left_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#arrow_left_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">Заголовок панели
</span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>
</div></div>
	
	
</div></div></div>

	<iframe class="Example__in svelte-3bec25 mini" style="" title="frame"></iframe>
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> PanelHeader<span class="token punctuation">,</span> PanelHeaderBack <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>

	<span class="token keyword">const</span> <span class="token function-variable function">onBackClick</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span><span class="token string">'Back'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>PanelHeader</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>PanelHeaderBack</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>left<span class="token punctuation">"</span></span> <span class="token attr-name"><span class="token namespace">on:</span>click=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>onBackClick<span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
	Заголовок панели
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>PanelHeader</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">label</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>PanelHeaderButton</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>



<h2>События</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">on:click</td>
					</tr></tbody></table></div></article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="sflzru">
		import { start } from "/VKSUI/_app/start-777b9200.js";
		start({
			target: document.querySelector('[data-hydrate="sflzru"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-1eb0d6ee.js"),
						import("/VKSUI/_app/pages/components/Layout/PanelHeaderBack.svelte-9c8f9bfa.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
