<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Svelte demo app" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>SplitLayout — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-8a8eb3a8.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-20a62958.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-b3239a28.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-bc1c7f53.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-da3a3488.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-f5b0839d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-98400cc8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-f8f5c552.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-12630241.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-6f18fcd6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-3b1b7c1d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-bb6cf91e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-84ceecc8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-7c9dc32b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-26ffc3de.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-8e9fa137.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-64885989.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-eda4d004.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-48ea13e6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-f3f91773.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-8832b802.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-ddb04c3c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-270182f7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-b0c4b074.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-36d712b8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-6a835198.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-d8213728.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Layout/SplitLayout.svelte-932fae23.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-5431d725.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
			
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

			<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
							</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

					

					

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="Div Div--android article svelte-qune13"><div class="header svelte-1lu72gb">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Layout/SplitLayout/SplitLayout.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Layout/SplitLayout/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-1lu72gb"><h1 id="splitlayout">SplitLayout</h1>
<p>Компонент-контейнер для реализации интерфейса с многоколоночной структурой. Тесно связан со <a href="SplitCol">SplitCol</a>.</p>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">isPopout</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">isModal</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>div</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>

<h2>Слоты</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Default</th></tr></thead>
			<tbody><tr><td class="token attr-value svelte-18l4ucz">default</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">header</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">modal</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">popout</td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

</article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="71zpmc">
		import { start } from "/VKSUI/_app/start-b3239a28.js";
		start({
			target: document.querySelector('[data-hydrate="71zpmc"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-da3a3488.js"),
						import("/VKSUI/_app/pages/components/Layout/SplitLayout.svelte-932fae23.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
