<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>PromoBanner — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-80f21bce.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-5b509880.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-3161677b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-ad41e947.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-8a9bdd69.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-897cf515.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-fd6dd941.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-eaaefd4e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-92f307f4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-0ceb96b1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-bda3fd14.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-a6fba2ed.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-e57a254e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-2588dff9.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-921d087d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-5230cbb0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-e8452bcf.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-296da28a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-96bd9ed1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-f836458d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-739e6dfc.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-1098dddb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-871df825.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-a3e62085.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-07affb3b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-1d3e51f5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-026f15a1.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Advertisement/PromoBanner.svelte-15f18a7c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-b97e5be5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Button-79b6cc8a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Spinner-2b6d5158.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Avatar-a990e1aa.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7746ad62.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
			
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

			<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
							</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

					

					

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1k4harm">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Advertisement/PromoBanner/PromoBanner.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Advertisement/PromoBanner/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-1k4harm"><h1 id="promobanner">PromoBanner</h1>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in  scroll" style="width:320px;height:414px;"><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style=""><div class="PromoBanner PromoBanner--android svelte-1u65nqo"><div class="PromoBanner__head svelte-1u65nqo">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 PromoBanner__label svelte-8u9koe">Реклама</div>
		

<div class="Caption Caption--android Caption--w-regular Caption--l-1 PromoBanner__age svelte-8u9koe">14+
			</div>

		<div class="PromoBanner__close svelte-1u65nqo"><div role="presentation" class="Icon Icon--24 Icon--w-24 Icon--h-24 Icon--dismiss_24 "><svg viewBox="0 0 24 24" width="24" height="24" style="display:block"><use xlink:href="#dismiss_24" style="fill: currentColor;"></use></svg></div></div></div>
	



<a href="https://vk.com" rel="nofollow noopener noreferrer" target="_blank" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-image Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="img" style="; width: 48px; height: 48px; border-radius:4px"><img src="https://sun9-7.userapi.com/c846420/v846420985/1526c3/ISX7VF8NjZk.jpg" alt="" class="Avatar__img svelte-1q8vrtl">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Заголовок</span>
			</div>
		<span class="SimpleCell__description Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">vk.com</span></div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="Button Button--sz-s Button--lvl-outline Button--clr-accent Button--aln-center Button--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<span class="Button__in">
		

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Button__content svelte-8u9koe">Перейти</span>
		</span>
	
	
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible  FocusVisible--outside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>

	
</div>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> PromoBanner<span class="token punctuation">,</span> FixedLayout <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">const</span> promoBannerProps <span class="token operator">=</span> <span class="token punctuation">&#123;</span>
		<span class="token literal-property property">title</span><span class="token operator">:</span> <span class="token string">'Заголовок'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">domain</span><span class="token operator">:</span> <span class="token string">'vk.com'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">trackingLink</span><span class="token operator">:</span> <span class="token string">'https://vk.com'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">ctaText</span><span class="token operator">:</span> <span class="token string">'Перейти'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">advertisingLabel</span><span class="token operator">:</span> <span class="token string">'Реклама'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">iconLink</span><span class="token operator">:</span> <span class="token string">'https://sun9-7.userapi.com/c846420/v846420985/1526c3/ISX7VF8NjZk.jpg'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">description</span><span class="token operator">:</span> <span class="token string">'Описание рекламы'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">ageRestrictions</span><span class="token operator">:</span> <span class="token string">'14+'</span><span class="token punctuation">,</span>
		<span class="token literal-property property">statistics</span><span class="token operator">:</span> <span class="token punctuation">[</span>
			<span class="token punctuation">&#123;</span> <span class="token literal-property property">url</span><span class="token operator">:</span> <span class="token string">''</span><span class="token punctuation">,</span> <span class="token literal-property property">type</span><span class="token operator">:</span> <span class="token string">'playbackStarted'</span> <span class="token punctuation">&#125;</span><span class="token punctuation">,</span>
			<span class="token punctuation">&#123;</span> <span class="token literal-property property">url</span><span class="token operator">:</span> <span class="token string">''</span><span class="token punctuation">,</span> <span class="token literal-property property">type</span><span class="token operator">:</span> <span class="token string">'click'</span> <span class="token punctuation">&#125;</span>
		<span class="token punctuation">]</span>
	<span class="token punctuation">&#125;</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>PromoBanner</span> <span class="token attr-name">bannerData=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>promoBannerProps<span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span></code><!-- HTML_TAG_END --></pre>

<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">bannerData</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->Данные рекламного баннера, полученные из VKWebAppGetAds<!-- HTML_TAG_END --></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">isCloseButtonHidden</td>
						<td class="token attr-value svelte-18l4ucz">boolean</td>
						<td class="svelte-18l4ucz"><code>false</code></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->Флаг скрытия кнопки закрытия рекламы<!-- HTML_TAG_END --></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">currentPixel</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>





<h2>События</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">on:click</td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">on:close</td>
					</tr></tbody></table></div></article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="14thges">
		import { start } from "/VKSUI/_app/start-3161677b.js";
		start({
			target: document.querySelector('[data-hydrate="14thges"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-8a9bdd69.js"),
						import("/VKSUI/_app/pages/components/Advertisement/PromoBanner.svelte-15f18a7c.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
