<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
		/>
		<meta http-equiv="content-security-policy" content=""><title>Alert — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-f815ae2a.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-a7f565b9.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-05742ced.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-049c144f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-e8b7dcf3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-261844e3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-dce3e439.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-de7b1c83.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-fa1991ce.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-43146fdb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-4ac93e5b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-583e1ab0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-3892faa1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-262f1665.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-3391b699.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-cab62547.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-e6202dca.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-2bf11b6c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-e78f4bba.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-e0822a27.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-a2fcc967.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-2b93bc8d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-60c6d39f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-aa54c56b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-06907636.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-2fd04dd5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-d7a6825d.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Popouts/Alert.svelte-a83208db.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-532866e4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/useWaitTransitionFinish-b925b4fb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/ModalDismissButton-f1f9c0ef.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PopoutWrapper-a3b93f06.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Button-14584ee0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Spinner-52dad0e5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/CellButton-d6773152.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7485e507.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
		
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

		<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
						</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

				

				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1stdg1e">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Popouts/Alert/Alert.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-1 svelte-150pc0p">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Popouts/Alert/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-1 svelte-150pc0p">Редактировать страницу</div>
</a></div>
	<article class="svelte-1stdg1e"><h1 id="alert">Alert</h1>
<p>Передаётся в качестве значения свойства <code>popout</code> компонента <code>SplitLayout</code>.</p>
<p>В Алертах особое внимание нужно уделить кнопкам. Всего есть три типа кнопок:
<code>cancel</code>, <code>destructive</code> и <code>default</code>.</p>
<p>Типом <code>cancel</code> нужно подсветить действие, возвращающее пользователя к
состоянию, когда алерт был закрыт. Пользователь кликнет по нему в случае, когда он открыл алерт для
совершения какого-то действия и передумал.</p>
<p>Стиль <code>destructive</code> используется в случае, когда действие влечёт за собой какие-то деструктивные последствия:
удаление, разжалование и т.д.</p>
<p>Во всех остальных случаях используйте стиль <code>default</code>.</p>
<p>Кнопки могут быть ссылками (передайте <code>href</code>) или другим компонентом (передайте <code>component</code>).</p>
<blockquote><p><strong>Важно:</strong></p>
<ol><li>Кнопка со стилем <code>cancel</code> должна быть одна на алерт.</li>
<li>Кнопку со стилем <code>cancel</code> нужно располагать либо слева, либо снизу, в зависимости от выбранного <code>actionsLayout</code>.</li>
<li>В Android версии игнорируется стили <code>cancel</code> и <code>destructive</code>, и жирность всех кнопок одинаковая.</li>
<li>В VKCOM версии возможно только горизонтальное расположение кнопок.</li>
<li>Порядок кнопок должен быть одинаковым на всех платформах (см. пункт 2).</li></ol></blockquote>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div hidden class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25" style=""><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style=""><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">Alert</span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>
				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		



<button class="CellButton CellButton--android CellButton--primary SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Лишить права</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
					



<button class="CellButton CellButton--android CellButton--primary SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Удалить документ</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
					
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div></div>

	<iframe class="Example__in svelte-3bec25" style="width:320px;height:414px;" title="frame"></iframe>
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span>
		AppRoot<span class="token punctuation">,</span>
		SplitLayout<span class="token punctuation">,</span>
		SplitCol<span class="token punctuation">,</span>
		Panel<span class="token punctuation">,</span>
		PanelHeader<span class="token punctuation">,</span>
		Group<span class="token punctuation">,</span>
		CellButton<span class="token punctuation">,</span>
		Div<span class="token punctuation">,</span>
		Alert
	<span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>

	<span class="token keyword">let</span> popout <span class="token operator">=</span> <span class="token string">''</span><span class="token punctuation">;</span>
	<span class="token keyword">let</span> actionsLog <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token punctuation">]</span><span class="token punctuation">;</span>

	<span class="token keyword">const</span> <span class="token function-variable function">addActionLogItem</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token parameter">value</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">(</span>actionsLog <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token operator">...</span>actionsLog<span class="token punctuation">,</span> value<span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
	<span class="token keyword">const</span> <span class="token function-variable function">openAction</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">(</span>popout <span class="token operator">=</span> <span class="token string">'Action'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
	<span class="token keyword">const</span> <span class="token function-variable function">openDeletion</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">(</span>popout <span class="token operator">=</span> <span class="token string">'Deletion'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
	<span class="token keyword">const</span> <span class="token function-variable function">closePopout</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">(</span>popout <span class="token operator">=</span> <span class="token string">''</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>AppRoot</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SplitLayout</span> <span class="token attr-name">isPopout=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>popout <span class="token operator">!==</span> <span class="token string">''</span><span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>popout<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> popout <span class="token operator">===</span> <span class="token string">'Action'</span><span class="token punctuation">&#125;</span></span>
				<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Alert</span>
					<span class="token attr-name">actions=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span>
						<span class="token punctuation">&#123;</span>
							<span class="token literal-property property">title</span><span class="token operator">:</span> <span class="token string">'Лишить права'</span><span class="token punctuation">,</span>
							<span class="token literal-property property">mode</span><span class="token operator">:</span> <span class="token string">'destructive'</span><span class="token punctuation">,</span>
							<span class="token literal-property property">autoclose</span><span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
							<span class="token function-variable function">action</span><span class="token operator">:</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token function">addActionLogItem</span><span class="token punctuation">(</span><span class="token string">'Право на модерацию контента убрано.'</span><span class="token punctuation">)</span>
						<span class="token punctuation">&#125;</span><span class="token punctuation">,</span>
						<span class="token punctuation">&#123;</span>
							<span class="token literal-property property">title</span><span class="token operator">:</span> <span class="token string">'Отмена'</span><span class="token punctuation">,</span>
							<span class="token literal-property property">autoclose</span><span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
							<span class="token literal-property property">mode</span><span class="token operator">:</span> <span class="token string">'cancel'</span>
						<span class="token punctuation">&#125;</span>
					<span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span>
					<span class="token attr-name">actionsLayout</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>vertical<span class="token punctuation">"</span></span>
					<span class="token attr-name"><span class="token namespace">on:</span>close=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>closePopout<span class="token punctuation">&#125;</span></span>
					<span class="token attr-name">header</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Подтвердите действие<span class="token punctuation">"</span></span>
					<span class="token attr-name">text</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Вы уверены, что хотите лишить пользователя права на модерацию контента?<span class="token punctuation">"</span></span>
				<span class="token punctuation">/></span></span>
			<span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">:</span><span class="token keyword">else</span> <span class="token keyword">if</span> popout <span class="token operator">===</span> <span class="token string">'Deletion'</span><span class="token punctuation">&#125;</span></span>
				<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Alert</span>
					<span class="token attr-name">actions=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span>
						<span class="token punctuation">&#123;</span>
							<span class="token literal-property property">title</span><span class="token operator">:</span> <span class="token string">'Отмена'</span><span class="token punctuation">,</span>
							<span class="token literal-property property">autoclose</span><span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
							<span class="token literal-property property">mode</span><span class="token operator">:</span> <span class="token string">'cancel'</span>
						<span class="token punctuation">&#125;</span><span class="token punctuation">,</span>
						<span class="token punctuation">&#123;</span>
							<span class="token literal-property property">title</span><span class="token operator">:</span> <span class="token string">'Удалить'</span><span class="token punctuation">,</span>
							<span class="token literal-property property">autoclose</span><span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span>
							<span class="token literal-property property">mode</span><span class="token operator">:</span> <span class="token string">'destructive'</span><span class="token punctuation">,</span>
							<span class="token function-variable function">action</span><span class="token operator">:</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token function">addActionLogItem</span><span class="token punctuation">(</span><span class="token string">'Документ удален.'</span><span class="token punctuation">)</span>
						<span class="token punctuation">&#125;</span>
					<span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span>
					<span class="token attr-name">actionsLayout</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>horizontal<span class="token punctuation">"</span></span>
					<span class="token attr-name"><span class="token namespace">on:</span>close=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>closePopout<span class="token punctuation">&#125;</span></span>
					<span class="token attr-name">header</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Удаление документа<span class="token punctuation">"</span></span>
					<span class="token attr-name">text</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Вы уверены, что хотите удалить этот документ?<span class="token punctuation">"</span></span>
				<span class="token punctuation">/></span></span>
			<span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>

		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SplitCol</span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Panel</span><span class="token punctuation">></span></span>
				<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>PanelHeader</span><span class="token punctuation">></span></span>Alert<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>PanelHeader</span><span class="token punctuation">></span></span>
				<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
					<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span> <span class="token attr-name"><span class="token namespace">on:</span>click=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>openAction<span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>Лишить права<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
					<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span> <span class="token attr-name"><span class="token namespace">on:</span>click=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>openDeletion<span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>Удалить документ<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
					<span class="token each"><span class="token punctuation">&#123;</span><span class="token keyword">#each</span> <span class="token language-javascript">actionsLog </span><span class="token keyword">as</span> <span class="token language-javascript">value<span class="token punctuation">&#125;</span></span></span>
						<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Div</span><span class="token punctuation">></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span>value<span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Div</span><span class="token punctuation">></span></span>
					<span class="token each"><span class="token punctuation">&#123;</span><span class="token keyword">/each</span><span class="token punctuation">&#125;</span></span>
				<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Panel</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SplitCol</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SplitLayout</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>AppRoot</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">actionsLayout</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;horizontal&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">actions</td>
						<td class="token attr-value svelte-18l4ucz">[]</td>
						<td class="svelte-18l4ucz"><code>[]</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">header</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">text</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">style</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>FocusTrap</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>

<h2>Слоты</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Default</th></tr></thead>
			<tbody><tr><td class="token attr-value svelte-18l4ucz">default</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">header</td>
						<td class="svelte-18l4ucz"><code>{header}</code></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">text</td>
						<td class="svelte-18l4ucz"><code>{text}</code></td>
					</tr></tbody></table></div>

<h2>События</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">on:close</td>
					</tr></tbody></table></div></article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="1daazqp">
		import { start } from "/VKSUI/_app/start-05742ced.js";
		start({
			target: document.querySelector('[data-hydrate="1daazqp"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-e8b7dcf3.js"),
						import("/VKSUI/_app/pages/components/Popouts/Alert.svelte-a83208db.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
