<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>CardGrid — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-8a8eb3a8.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-3622dfc6.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-15e885e5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-f3d45434.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-a8789613.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-184c9a3b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-ba710e35.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-c777139e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-02083e3e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-e2f4f9ff.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-ca7c47e0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-43b07e6c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-7ffc7a62.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-9ed5c810.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-1630fd2f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-fb6acbe3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-a542ea7a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-8a89450c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-baf08a30.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-4eb2972f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-1ac84747.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-5e0a0534.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-65345f18.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-b4115c06.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-55713ff1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-6f98634a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-e3e04ab4.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/CardGrid.svelte-c3ee8226.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-14efc28d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Card-3426c144.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-467c197b.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
			
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

			<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
							</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

					

					

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1lu72gb">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/CardGrid/CardGrid.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/CardGrid/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-1lu72gb"><h1 id="cardgrid">CardGrid</h1>
<p>Сетка для <a href="Card">Card</a>. Согласно дизайну, высота Card должна масштабироваться относительно её ширины. В примерах это достигается с помощью процентного <code>padding-bottom</code>. Пропорции следующие:</p>
<ul><li><code>size=&quot;s&quot;</code>: высота равна 92% ширины;</li>
<li><code>size=&quot;m&quot;</code>: высота равна 62% ширины;</li>
<li><code>size=&quot;l&quot;</code>: высота равна 30% ширины.</li></ul>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in  scroll" style="width:320px;height:414px;"><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style="">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="CardGrid CardGrid--android CardGrid--s CardGrid--sizeX-compact svelte-13lk4rh"><div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 92%;"></div></div>
</div>
		<div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 92%;"></div></div>
</div>
		<div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 92%;"></div></div>
</div>
</div>
		

<div class="Caption Caption--android Caption--w-regular Caption--l-1 Group__description svelte-8u9koe">Внутри Group</div></div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<div class="CardGrid CardGrid--android CardGrid--m CardGrid--sizeX-compact svelte-13lk4rh"><div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 62%;"></div></div>
</div>
	<div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 62%;"></div></div>
</div>
</div>


<div class="CardGrid CardGrid--android CardGrid--l CardGrid--sizeX-compact svelte-13lk4rh"><div class="Card Card--md-tint svelte-1ulg9wx"><div class="Card__in svelte-1ulg9wx"><div style="padding-bottom: 30%;"></div></div>
</div>
</div>


<div aria-hidden="true" class="Separator Separator--android svelte-x9cuz"><div class="Separator__in svelte-x9cuz Separator__in--expanded"></div>
</div>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> Separator<span class="token punctuation">,</span> CardGrid<span class="token punctuation">,</span> Card <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Внутри Group<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CardGrid</span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>s<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>92%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>92%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>92%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CardGrid</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CardGrid</span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>m<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>62%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>62%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CardGrid</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CardGrid</span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>l<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Card</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name"><span class="token namespace">style:</span>padding-bottom</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>30%<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Card</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CardGrid</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Separator</span> <span class="token attr-name">expanded</span> <span class="token punctuation">/></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">size</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;s&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>div</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>

<h2>Слоты</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Default</th></tr></thead>
			<tbody><tr><td class="token attr-value svelte-18l4ucz">default</td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

</article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="1nyq3hw">
		import { start } from "/VKSUI/_app/start-15e885e5.js";
		start({
			target: document.querySelector('[data-hydrate="1nyq3hw"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-a8789613.js"),
						import("/VKSUI/_app/pages/components/Blocks/CardGrid.svelte-c3ee8226.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
