<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
		/>
		<meta http-equiv="content-security-policy" content=""><title>GridAvatar — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-297197a6.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-a7f565b9.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-9a701932.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-049c144f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-b4203989.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-261844e3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-dce3e439.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-de7b1c83.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-fa1991ce.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-43146fdb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-4ac93e5b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-583e1ab0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-3892faa1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-262f1665.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-3391b699.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-cab62547.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-e6202dca.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-2bf11b6c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-e78f4bba.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-e0822a27.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-a2fcc967.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-2b93bc8d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-60c6d39f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-aa54c56b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-06907636.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-2fd04dd5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-d7a6825d.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/GridAvatar.svelte-fbbab896.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-532866e4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Avatar-99535b88.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/utils-899c0d60.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7485e507.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
		
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

		<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
						</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

				

				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1k4harm">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/GridAvatar/GridAvatar.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/GridAvatar/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">Редактировать страницу</div>
</a></div>
	<article class="svelte-1k4harm"><h1 id="gridavatar">GridAvatar</h1>
<p>Отображение нескольких аватаров в сетке от 1 до 4 элементов.</p>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	</div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in mini" style=""><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style=""><div class="Avatars">



<div class="GridAvatar GridAvatar--images-1 Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 48px; height: 48px; border-radius:50%">
	<div class="Avatar__children svelte-1q8vrtl" style="width: 48px; height: 48px; border-radius:50%"><div class="GridAvatar__in svelte-18wovpy"></div></div>
	
	
</div>
	



<div class="GridAvatar GridAvatar--images-1 Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 48px; height: 48px; border-radius:50%">
	<div class="Avatar__children svelte-1q8vrtl" style="width: 48px; height: 48px; border-radius:50%"><div class="GridAvatar__in svelte-18wovpy"><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-27.userapi.com/zmcGxRfZe3fdjIdMlq0OgjYGfIdYGOF67YfiLQ/TJi2eetIwN0.jpg?ava=1)"></div></div></div>
	
	
</div>
	



<div class="GridAvatar GridAvatar--images-2 Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 48px; height: 48px; border-radius:50%">
	<div class="Avatar__children svelte-1q8vrtl" style="width: 48px; height: 48px; border-radius:50%"><div class="GridAvatar__in svelte-18wovpy"><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-4.userapi.com/oDjqp-AYVog1kuee5JOjzP9fMOvzCWCGBY0YHg/WW88aTocBxA.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-60.userapi.com/c855124/v855124003/167f36/TzgXYX1Izqk.jpg?ava=1)"></div></div></div>
	
	
</div>
	



<div class="GridAvatar GridAvatar--images-3 Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 48px; height: 48px; border-radius:50%">
	<div class="Avatar__children svelte-1q8vrtl" style="width: 48px; height: 48px; border-radius:50%"><div class="GridAvatar__in svelte-18wovpy"><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-61.userapi.com/O-2f7t0yecmx38WXoF37RkhkJTG2rcjL4Yq88w/J39s0u1f90c.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-65.userapi.com/Jm47wQlR6z_R_rbAd_7LUf0NQg7QAv35MpvNhA/Ht8eYywub4o.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-11.userapi.com/c858420/v858420276/5e9b7/WodDi1aEvFQ.jpg?ava=1)"></div></div></div>
	
	
</div>
	



<div class="GridAvatar GridAvatar--images-4 Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 48px; height: 48px; border-radius:50%">
	<div class="Avatar__children svelte-1q8vrtl" style="width: 48px; height: 48px; border-radius:50%"><div class="GridAvatar__in svelte-18wovpy"><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-34.userapi.com/c857132/v857132690/49628/r4wBoWw0mJI.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-60.userapi.com/c851416/v851416327/be840/bnUHAblZoBY.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-49.userapi.com/c850332/v850332555/115030/JyNJrr4cytY.jpg?ava=1)"></div><div class="GridAvatar__item svelte-18wovpy" style="background-image: url(https://sun9-44.userapi.com/c858128/v858128761/67fe1/nAnraWnpHK8.jpg?ava=1)"></div></div></div>
	
	
</div></div>

<style>.Avatars {
		display: flex;
		padding: 12px;
		gap: 8px;
		flex-flow: row wrap;
	}
</style>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> GridAvatar <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> getAvatarUrl <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'$site/data/utils'</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Avatars<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridAvatar</span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridAvatar</span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_ji'</span><span class="token punctuation">)</span><span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridAvatar</span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_wayshev'</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_mm'</span><span class="token punctuation">)</span><span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridAvatar</span>
		<span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_arthurstam'</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_xyz'</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_ox'</span><span class="token punctuation">)</span><span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span>
	<span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridAvatar</span>
		<span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token punctuation">[</span>
			<span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_ilyagrshn'</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
			<span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_tc'</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
			<span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_lihachyov'</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
			<span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_va'</span><span class="token punctuation">)</span>
		<span class="token punctuation">]</span><span class="token punctuation">&#125;</span></span>
	<span class="token punctuation">/></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>style</span><span class="token punctuation">></span></span><span class="token style"><span class="token language-css">
	<span class="token selector">.Avatars</span> <span class="token punctuation">&#123;</span>
		<span class="token property">display</span><span class="token punctuation">:</span> flex<span class="token punctuation">;</span>
		<span class="token property">padding</span><span class="token punctuation">:</span> 12px<span class="token punctuation">;</span>
		<span class="token property">gap</span><span class="token punctuation">:</span> 8px<span class="token punctuation">;</span>
		<span class="token property">flex-flow</span><span class="token punctuation">:</span> row wrap<span class="token punctuation">;</span>
	<span class="token punctuation">&#125;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>style</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">src</td>
						<td class="token attr-value svelte-18l4ucz">[]</td>
						<td class="svelte-18l4ucz"><code>[]</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">size</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">shadow</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>





</article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="tzo3li">
		import { start } from "/VKSUI/_app/start-9a701932.js";
		start({
			target: document.querySelector('[data-hydrate="tzo3li"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-b4203989.js"),
						import("/VKSUI/_app/pages/components/Blocks/GridAvatar.svelte-fbbab896.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
