<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
		/>
		<meta http-equiv="content-security-policy" content=""><title>Group — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-297197a6.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-a7f565b9.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-9a701932.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-049c144f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-b4203989.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-261844e3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-dce3e439.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-de7b1c83.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-fa1991ce.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-43146fdb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-4ac93e5b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-583e1ab0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-3892faa1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-262f1665.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-3391b699.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-cab62547.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-e6202dca.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-2bf11b6c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-e78f4bba.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-e0822a27.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-a2fcc967.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-2b93bc8d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-60c6d39f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-aa54c56b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-06907636.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-2fd04dd5.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-d7a6825d.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/Group.svelte-13098d38.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-532866e4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Avatar-99535b88.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/CellButton-d6773152.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7485e507.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
		
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

		<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
						</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

				

				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1k4harm">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/Group/Group.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/Group/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">Редактировать страницу</div>
</a></div>
	<article class="svelte-1k4harm"><h1 id="group">Group</h1>
<p>Группа – базовый компонент для группировки контента по смыслу.</p>
<h2 id="пример">Пример</h2>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in  scroll" style="width:320px;height:414px;"><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style="">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--phone_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#phone_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Номер телефона
		</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">+7 ••• •• •• 96</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--mail_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#mail_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Email
		</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">g•••@gmail.com</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
	

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--key_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#key_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Пароль
		</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">Обновлён 3 года назад</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--check_shield_device_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#check_shield_device_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Подтверждение входа
		</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">Вкл.</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--devices_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#devices_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Привязанные устройства
		</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">2</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>



<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f"><header slot="header" class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Последняя активность</span>
			</span>
		</div>

	
</header>
		



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-app Avatar--sz-32 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 32px; height: 32px; border-radius:8px">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">VK · Приложение для iPhone
	</span>
			</div>
		<span class="SimpleCell__description Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Санкт-Петербург, Россия</span></div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" aria-label="Подробнее" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--16 Icon--w-8 Icon--h-16 Icon--more_vertical_16 "><svg viewBox="0 0 8 16" width="8" height="16" style="display:block"><use xlink:href="#more_vertical_16" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-app Avatar--sz-32 Avatar--shadow svelte-1q8vrtl" role="presentation" style="; width: 32px; height: 32px; border-radius:8px">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">VK · Браузер Chrome для macOS
	</span>
			</div>
		<span class="SimpleCell__description Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Санкт-Петербург, Россия</span></div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" aria-label="Подробнее" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--16 Icon--w-8 Icon--h-16 Icon--more_vertical_16 "><svg viewBox="0 0 8 16" width="8" height="16" style="display:block"><use xlink:href="#more_vertical_16" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<button class="CellButton CellButton--android CellButton--primary SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Показать историю активности</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
	



<button class="CellButton CellButton--android CellButton--danger SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Завершить все остальные сеансы</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>



<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f"><header slot="header" class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Адреса</span>
			</span>
		</div>

	
</header>
		



<button class="CellButton CellButton--android CellButton--primary SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Добавить домашний адрес</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
	



<button class="CellButton CellButton--android CellButton--primary SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
		
	
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Добавить рабочий адрес</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
		<div class="Group__description Caption Caption--l-1 Caption--w-regular svelte-150pc0p">Для использования в мини-приложениях, Delivery Cub, VK Taxi и других сервисах ВКонтакте. Эти адреса видны только Вам.</div></div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> SimpleCell<span class="token punctuation">,</span> Header<span class="token punctuation">,</span> IconButton<span class="token punctuation">,</span> Avatar<span class="token punctuation">,</span> CellButton <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28PhoneOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/phone_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28MailOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/mail_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28KeyOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/key_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28CheckShieldDeviceOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/check_shield_device_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28DevicesOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/devices_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon16MoreVertical <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/16/more_vertical'</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>plain<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>+7 ••• •• •• 96<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28PhoneOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
			Номер телефона
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>g•••@gmail.com<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28MailOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
			Email
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>plain<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Обновлён 3 года назад<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28KeyOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
			Пароль
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Вкл.<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28CheckShieldDeviceOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
			Подтверждение входа
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>2<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28DevicesOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
			Привязанные устройства
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>header<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Последняя активность<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Санкт-Петербург, Россия<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span> <span class="token attr-name">aria-label</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Подробнее<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon16MoreVertical</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">32</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>app<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		VK · Приложение для iPhone
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Санкт-Петербург, Россия<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span> <span class="token attr-name">aria-label</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Подробнее<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon16MoreVertical</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">32</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>app<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		VK · Браузер Chrome для macOS
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span><span class="token punctuation">></span></span>Показать историю активности<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>danger<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Завершить все остальные сеансы<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span>
	<span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Для использования в мини-приложениях, Delivery Cub, VK Taxi и других сервисах ВКонтакте. Эти адреса видны только Вам.<span class="token punctuation">"</span></span>
<span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>header<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Адреса<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span><span class="token punctuation">></span></span>Добавить домашний адрес<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>CellButton</span><span class="token punctuation">></span></span>Добавить рабочий адрес<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>CellButton</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">description</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">separator</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;auto&#39;</code></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->show - разделитель всегда показывается,
hide – разделитель всегда спрятан,
auto – разделитель рисуется автоматически между соседними группами.<!-- HTML_TAG_END --></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">mode</td>
						<td class="token attr-value svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->Режим отображения. Если установлен 'card', выглядит как карточка c
обводкой и внешними отступами. Если 'plain' — без отступов и обводки.
По умолчанию режим отображения зависит от `sizeX`. В модальных окнах
по умолчанию 'plain'.<!-- HTML_TAG_END --></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>section</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>

<h2>Слоты</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Default</th></tr></thead>
			<tbody><tr><td class="token attr-value svelte-18l4ucz">default</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">description</td>
						<td class="svelte-18l4ucz"><code>{description}</code></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">header</td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

</article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="9qk9zi">
		import { start } from "/VKSUI/_app/start-9a701932.js";
		start({
			target: document.querySelector('[data-hydrate="9qk9zi"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-b4203989.js"),
						import("/VKSUI/_app/pages/components/Blocks/Group.svelte-13098d38.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
