<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Svelte demo app" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Header— VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-52937920.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-c3acb537.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-ac034529.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-98a70bb6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-3f5aaa84.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-4c54d3c3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-4a5bcc41.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-fc5f4210.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-5b361836.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-46dbc4fc.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-ce9ed832.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-c894d276.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-68e1e2f8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-90d9d276.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-8a4c253c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-4bcd88d7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-2ddb83b4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-c92f63da.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-01161d17.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-0aa5f98d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-54b33bc4.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-7647868e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-24af2020.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/Header.svelte-05dfb08a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-9cd84a10.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Counter-5399c265.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<header class="svelte-1kil2u8"><div class="Header__in svelte-1kil2u8"><div class="Logo svelte-1kil2u8">

<h1 class="Title Title--l-1 svelte-1tkij5y"><a href="/VKSUI" class="svelte-1kil2u8">@sveltevk/vksui</a></h1></div>
		<div class="Links svelte-1kil2u8">

<a href="https://www.npmjs.com/package/@sveltevk/vksui" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">0.0.2
</a>
			

<a href="https://github.com/sveltevk/VKSUI" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">GitHub
</a>
			

<a href="https://github.com/sveltevk/VKSUI/releases" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">Релизы
</a></div>
		<div></div></div>
</header>
	<main class="svelte-l2ybjc"><div class="Sidebar svelte-obh89p"><div class="Sidebar__in svelte-obh89p">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		
				
				



<a href="/VKSUI/" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">О VKSUI
					</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">
						
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>
			
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Компоненты</span>
			</span>
		</div>

	
</header>
				

<div class="Search Search--android Search--has-after" style="background:none"><div class="Search__in"><div class="Search__width"></div>
		<label class="Search__control"><input type="text" class="Search__input" value="">
			
			<div class="Search__placeholder"><div class="Search__placeholder-in"><div role="presentation" class="Icon Icon--16 Icon--w-16 Icon--h-16 Icon--search_outline_16 "><svg viewBox="0 0 16 16" width="16" height="16" style="display:block"><use xlink:href="#search_outline_16" style="fill: currentColor;"></use></svg></div>
					
	

<h3 class="Headline Headline--android Headline--w-regular Search__placeholder-text svelte-9q56sk">Поиск</h3></div>
				</div></label>

		<div class="Search__after"><div class="Search__icons">
				</div>
			</div></div>
	
</div>




<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Layout</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Block</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Forms</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Typography</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Advertisement</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Service</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	<div class="Element svelte-1jb4zvh"></div>
				
			
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Прочее</span>
			</span>
		</div>

	
</header>
				
				



<a href="/VKSUI/utils" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Утилиты
					</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">
						
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/icons" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Иконки
					</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">
						
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/design" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Дизайн
					</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">
						
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/customize" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Кастомизация
					</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma"><div role="presentation" title="Компонент поддерживает vkui-tokens" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--tokenized_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#tokenized_outline_28" style="fill: currentColor;"></use></svg></div>
						
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>
			
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section></div>
</div>
		<div class="article svelte-j5m3y6"><div class="header svelte-j5m3y6">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/Header/Header.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/Header/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-j5m3y6"><h1 id="header">Header</h1>
<h2 id="пример">Пример</h2>


<div class="fixable svelte-cvg8jl"><div class="svelte-cvg8jl">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-cvg8jl">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-cvg8jl">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-cvg8jl">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-cvg8jl">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>



<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-cvg8jl Example  scroll" style="width:320px;height:414px;">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			</span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			</span>
		

<span class="Caption Caption--android Caption--w-regular Caption--l-1 Header__subtitle svelte-8u9koe">SOHN — Conrad</span></div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
	<header class="Header Header--android Header--pi Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">
						12
					</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Заявки в друзья
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">

<span slot="indicator" class="Counter Counter--android Counter--prominent Counter--s-s svelte-468d7f">

<div class="Caption Caption--android Caption--w-regular Caption--l-2 Counter__in svelte-8u9koe">3</div>
</span></div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Приглашения
	</span>
			</span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
	<header class="Header Header--android Header--pi Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Фотографии
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">
						667
					</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
	<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Приглашения
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">

<span slot="indicator" class="Counter Counter--android Counter--prominent Counter--s-s svelte-468d7f">

<div class="Caption Caption--android Caption--w-regular Caption--l-2 Counter__in svelte-8u9koe">3</div>
</span></div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" slot="aside" class="Link Link--android svelte-4piery">Показать все
</a></span>
</header>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-tertiary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Важные</span>
			</span>
		</div>

	
</header>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может писать мне личные сообщения</span>
			</span>
		</div>

	
</header>
	<header class="Header Header--android Header--mode-tertiary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может комментировать мои записи</span>
			</span>
		</div>

	
</header>
	<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может оставлять записи на моей странице</span>
			</span>
		</div>

	
</header>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section></div>


<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> Counter<span class="token punctuation">,</span> Link<span class="token punctuation">,</span> Header<span class="token punctuation">,</span> Button<span class="token punctuation">,</span> usePlatform<span class="token punctuation">,</span> <span class="token constant">VKCOM</span> <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon12ChevronOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/12/chevron_outline'</span><span class="token punctuation">;</span>

	<span class="token keyword">const</span> platform <span class="token operator">=</span> <span class="token function">usePlatform</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">subtitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>SOHN — Conrad<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>12<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Counter</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>indicator<span class="token punctuation">"</span></span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>s<span class="token punctuation">"</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>prominent<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Counter</span><span class="token punctuation">></span></span>
		Заявки в друзья
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		Приглашения
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>667<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		Фотографии
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Counter</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>indicator<span class="token punctuation">"</span></span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>s<span class="token punctuation">"</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>prominent<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Counter</span><span class="token punctuation">></span></span>
		Приглашения
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>tertiary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Важные<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может писать мне личные сообщения<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>tertiary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может комментировать мои записи<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может оставлять записи на моей странице<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre></article>
</div></main>


		<script type="module" data-hydrate="8wwvqv">
		import { start } from "/VKSUI/_app/start-98a70bb6.js";
		start({
			target: document.querySelector('[data-hydrate="8wwvqv"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-4c54d3c3.js"),
						import("/VKSUI/_app/pages/components/Blocks/Header.svelte-05dfb08a.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
