<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Svelte demo app" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>VKSUI - Header</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-28ea88b5.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-ebdd5da1.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-03f4f9b5.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-74dc66d2.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-23252826.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-17e0fb1f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-d77b42ba.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-68334002.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-ecc28898.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-0ca94d59.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-1b390377.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-fef81d64.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-0bd54f18.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-9bff766d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-46a9d446.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-44e6a3fc.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-4a54a4d2.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-b7c34abf.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-9f672a35.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/Header.svelte-827549f1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-454891ca.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Counter-e416301c.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<header class="svelte-1kil2u8"><div class="Header__in svelte-1kil2u8"><div class="Logo svelte-1kil2u8">

<h1 class="Title Title--l-1 svelte-1tkij5y"><a href="/VKSUI" class="svelte-1kil2u8">@sveltevk/vksui</a></h1></div>
		<div class="Links svelte-1kil2u8">

<a href="https://www.npmjs.com/package/@sveltevk/vksui" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">0.0.1
</a>
			

<a href="https://github.com/sveltevk/VKSUI" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">GitHub
</a>
			

<a href="https://github.com/sveltevk/VKSUI/releases" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">Релизы
</a></div>
		<div></div></div>
</header>
	<main class="svelte-l2ybjc"><div class="Sidebar svelte-obh89p"><div class="Sidebar__in svelte-obh89p">

<section class="Group Group--android svelte-1r67g2k">
				
	
				



<a href="/VKSUI/" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">О VKSUI</span>
		
		</div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>
			
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section>

<section class="Group Group--android svelte-1r67g2k"><header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Компоненты</span>
			</span>
		</div>

	
</header>
				
	

<div class="Div Div--android svelte-qune13">

<div class="FormField FormField--android Input Input--android Input--sizeY-compact"><input placeholder="Поиск" class="Input__el svelte-1qbk9aq" value="">
	<div class="FormField__border svelte-17rb6yt"></div></div>
</div>




<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Layout</span>
		
		</div>
	
	
	<div class="SimpleCell__after svelte-158z5kd"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
<div class="Element svelte-1jb4zvh">
</div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Block</span>
		
		</div>
	
	
	<div class="SimpleCell__after svelte-158z5kd"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
<div class="Element svelte-1jb4zvh">
</div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Typography</span>
		
		</div>
	
	
	<div class="SimpleCell__after svelte-158z5kd"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
<div class="Element svelte-1jb4zvh">
</div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Advertisement</span>
		
		</div>
	
	
	<div class="SimpleCell__after svelte-158z5kd"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
<div class="Element svelte-1jb4zvh">
</div>



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Service</span>
		
		</div>
	
	
	<div class="SimpleCell__after svelte-158z5kd"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--chevron_down_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#chevron_down_outline_28" style="fill: currentColor;color: var(--text_tertiary)"></use></svg></div>
	
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
<div class="Element svelte-1jb4zvh">
</div>
				
			
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section>

<section class="Group Group--android svelte-1r67g2k"><header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Прочее</span>
			</span>
		</div>

	
</header>
				
	
				



<a href="/VKSUI/utils" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Утилиты</span>
		
		</div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/icons" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Иконки</span>
		
		</div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/design" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Дизайн</span>
		
		</div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>



<a href="/VKSUI/customize" class="SimpleCell SimpleCell--android SimpleCell--sizeX-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-158z5kd">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Кастомизация</span>
		
		</div>
	
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-1kh1i5m"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></a>
			
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section></div>
</div>
		<div class="article svelte-18wea6a"><div class="header svelte-18wea6a">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/Header/Header.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/Header/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-18wea6a"><h1 id="header">Header</h1>
<h2 id="пример">Пример</h2>


<div class="fixable svelte-1pweym3"><div class="svelte-1pweym3">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-1pweym3">scheme:
		<select><option value="bright_light">bright_light</option><option value="space_gray">space_gray</option><option value="vkcom_light">vkcom_light</option><option value="vkcom_dark">vkcom_dark</option></select></div>
	<div class="svelte-1pweym3">webviewType:
			<select><option value="vkapps">vkapps</option><option value="internal">internal</option></select></div>
		<div class="svelte-1pweym3">windowWidth:
			<select><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-1pweym3">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-1pweym3">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>



<div class="Example svelte-1pweym3  scroll" style="width:320px;height:414px;">

<section class="Group Group--android svelte-1r67g2k">
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			</span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			</span>
		

<span class="Caption Caption--android Caption--w-regular Caption--l-1 Header__subtitle svelte-8u9koe">SOHN — Conrad</span></div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	<header class="Header Header--android Header--pi Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Плейлисты
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">
						12
					</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Заявки в друзья
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">

<span class="Counter Counter--android Counter--prominent Counter--s-s svelte-468d7f">

<div class="Caption Caption--android Caption--w-regular Caption--l-2 Counter__in svelte-8u9koe">3</div>
</span>
		</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section>


<section class="Group Group--android svelte-1r67g2k">
	<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Приглашения
	</span>
			</span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	<header class="Header Header--android Header--pi Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Фотографии
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">
						667
					</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Приглашения
	</span>
			

<div class="Caption Caption--android Caption--w-medium Caption--l-1 Header__indicator svelte-8u9koe">

<span class="Counter Counter--android Counter--prominent Counter--s-s svelte-468d7f">

<div class="Caption Caption--android Caption--w-regular Caption--l-2 Counter__in svelte-8u9koe">3</div>
</span>
		</div></span>
		</div>

	
<span class="Text Text--android Text--w-regular Header__aside svelte-1ncu6iw">

<a href="" class="Link Link--android svelte-4piery">Показать все
</a>
		</span>
</header>
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section>


<section class="Group Group--android svelte-1r67g2k">
	<header class="Header Header--android Header--mode-tertiary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in svelte-pwrmxj">Важные</span>
			</span>
		</div>

	
</header>
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section>


<section class="Group Group--android svelte-1r67g2k">
	<header class="Header Header--android Header--mode-primary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может писать мне личные сообщения</span>
			</span>
		</div>

	
</header>
	<header class="Header Header--android Header--mode-tertiary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Headline Headline--android Headline--w-medium Header__content svelte-9q56sk"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может комментировать мои записи</span>
			</span>
		</div>

	
</header>
	<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in Header__content-in--multiline svelte-pwrmxj">Кто может оставлять записи на моей странице</span>
			</span>
		</div>

	
</header>
	
	

<div class="Separator Separator--android Group__separator svelte-16xtblz"><div class="Separator__in svelte-16xtblz"></div>
</div>
</section></div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> Counter<span class="token punctuation">,</span> Link<span class="token punctuation">,</span> Header<span class="token punctuation">,</span> Button<span class="token punctuation">,</span> usePlatform<span class="token punctuation">,</span> <span class="token constant">VKCOM</span> <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon12ChevronOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/12/chevron_outline'</span><span class="token punctuation">;</span>

	<span class="token keyword">const</span> platform <span class="token operator">=</span> <span class="token function">usePlatform</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">subtitle</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>SOHN — Conrad<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>12<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Плейлисты
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>indicator<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Counter</span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>s<span class="token punctuation">"</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>prominent<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Counter</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Заявки в друзья
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Приглашения
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>667<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Фотографии
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>aside<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Link</span><span class="token punctuation">></span></span>
				Показать все<span class="token language-javascript"><span class="token punctuation">&#123;</span>#<span class="token keyword">if</span> platform <span class="token operator">===</span> <span class="token constant">VKCOM</span><span class="token punctuation">&#125;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12ChevronOutline</span> <span class="token punctuation">/></span></span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token operator">/</span><span class="token keyword">if</span><span class="token punctuation">&#125;</span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Link</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span class="token namespace">svelte:</span>fragment</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>indicator<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Counter</span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>s<span class="token punctuation">"</span></span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>prominent<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Counter</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span class="token namespace">svelte:</span>fragment</span><span class="token punctuation">></span></span>
		Приглашения
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>tertiary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Важные<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>primary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может писать мне личные сообщения<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>tertiary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может комментировать мои записи<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span> <span class="token attr-name">multiline</span><span class="token punctuation">></span></span>Кто может оставлять записи на моей странице<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre></article>
</div></main>


		<script type="module" data-hydrate="1ly5h34">
		import { start } from "/VKSUI/_app/start-74dc66d2.js";
		start({
			target: document.querySelector('[data-hydrate="1ly5h34"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-17e0fb1f.js"),
						import("/VKSUI/_app/pages/components/Blocks/Header.svelte-827549f1.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
