<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
		/>
		<meta http-equiv="content-security-policy" content=""><title>Placeholder — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-739e8c4b.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-a7f565b9.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-777b9200.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-049c144f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-1eb0d6ee.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-2a367881.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-4d60ab4a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-6a94c2d6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-2779a642.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-8fd7193d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-d225d397.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-b85c9904.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-6ae803f7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-4676bbc7.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-297ee8be.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-17b927e1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-3a368c8a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-85932a6e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-c7bd40d3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-56c93527.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-2892e667.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-6dc78e4f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-60c6d39f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-3c9a0ebb.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-750bb3b8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-a0681de3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-7dd43042.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/Placeholder.svelte-59ad8d23.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-c76084ee.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Button-196a7e66.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Spinner-1cde161c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-7485e507.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
		
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

		<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
						</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

				

				

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1k4harm">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/Placeholder/Placeholder.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/Placeholder/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery"><div class="Caption Caption--l-1 Caption--w-regular svelte-150pc0p">Редактировать страницу</div>
</a></div>
	<article class="svelte-1k4harm"><h1 id="placeholder">Placeholder</h1>
<p><code>Placeholder</code> используется для каких-либо заглушек: например, в случае отсутствия элементов в списке или ошибки.</p>
<ul><li>В качестве иконки желательно использовать аутлайновые иконки размера 56;</li>
<li>В качестве действия — большую кнопку с уровнем <code>primary</code> или <code>tertiary</code>.</li></ul>
<p>Если плейсхолдер используется со свойством <code>stretched</code> (показывается во всю высоту панели), то на экране не должно быть ничего другого.</p>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in  scroll" style="width:320px;height:414px;"><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style="">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="Placeholder svelte-1c46uyk"><div class="Placeholder__in svelte-1c46uyk"><div class="Placeholder__icon svelte-1c46uyk"><div role="presentation" slot="icon" class="Icon Icon--56 Icon--w-56 Icon--h-56 Icon--users_outline_56 "><svg viewBox="0 0 56 56" width="56" height="56" style="display:block"><use xlink:href="#users_outline_56" style="fill: currentColor;"></use></svg></div></div>
		

<h2 class="Placeholder__header Title Title--l-2 Title--w-2 svelte-1tkij5y">Уведомления от сообществ</h2>
		

<h3 class="Headline Headline--android Headline--w-regular Placeholder__text svelte-9q56sk">Подключите сообщества, от которых Вы хотите получать уведомления
	</h3>
		<div class="Placeholder__action svelte-1c46uyk">

<button slot="action" class="Button Button--sz-m Button--lvl-primary Button--clr-accent Button--aln-center Button--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<span class="Button__in">
		<span class="Button__content Subhead Subhead--sizeY-compact Subhead--w-2 svelte-1j3e1cx">Подключить сообщества</span>
		</span>
	
	
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible  FocusVisible--outside"></span></button></div></div>
</div>
	

<div aria-hidden="true" class="Separator Separator--android svelte-x9cuz"><div class="Separator__in svelte-x9cuz"></div>
</div>
	

<div class="Placeholder svelte-1c46uyk"><div class="Placeholder__in svelte-1c46uyk"><div class="Placeholder__icon svelte-1c46uyk"><div role="presentation" slot="icon" class="Icon Icon--56 Icon--w-56 Icon--h-56 Icon--mention_outline_56 "><svg viewBox="0 0 56 56" width="56" height="56" style="display:block"><use xlink:href="#mention_outline_56" style="fill: currentColor;"></use></svg></div></div>
		
		

<h3 class="Headline Headline--android Headline--w-regular Placeholder__text svelte-9q56sk">Введите адрес страницы в поле поиска
	</h3>
		</div>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> Placeholder<span class="token punctuation">,</span> Button<span class="token punctuation">,</span> Separator <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon56UsersOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/56/users_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon56MentionOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/56/mention_outline'</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Placeholder</span> <span class="token attr-name">header</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Уведомления от сообществ<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon56UsersOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>icon<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Button</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>action<span class="token punctuation">"</span></span> <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>m<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Подключить сообщества<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Button</span><span class="token punctuation">></span></span>
		Подключите сообщества, от которых Вы хотите получать уведомления
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Placeholder</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Separator</span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Placeholder</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon56MentionOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>icon<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		Введите адрес страницы в поле поиска
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Placeholder</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">header</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->Заголовок плейсхолдера<!-- HTML_TAG_END --></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">stretched</td>
						<td class="token attr-value svelte-18l4ucz">boolean</td>
						<td class="svelte-18l4ucz"><code>false</code></td>
						<td class="svelte-18l4ucz"><!-- HTML_TAG_START -->Растягивает плейсхолдер на весь экран, но в таком случае на экране должен быть только плейсхолдер<!-- HTML_TAG_END --></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>div</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>

<h2>Слоты</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Default</th></tr></thead>
			<tbody><tr><td class="token attr-value svelte-18l4ucz">default</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">action</td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">header</td>
						<td class="svelte-18l4ucz"><code>{header}</code></td>
					</tr><tr><td class="token attr-value svelte-18l4ucz">icon</td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

</article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="18em4kz">
		import { start } from "/VKSUI/_app/start-777b9200.js";
		start({
			target: document.querySelector('[data-hydrate="18em4kz"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-1eb0d6ee.js"),
						import("/VKSUI/_app/pages/components/Blocks/Placeholder.svelte-59ad8d23.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
