<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Svelte demo app" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>SimpleCell — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-5f06f8d5.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-5db07dd3.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-c476de2a.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-ac9b29a6.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-9fde05ec.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-be6cfdfe.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-fd380a47.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-6a7f5b2c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-76701597.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-236cbc4e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-c628c678.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-1a1dd94d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-0aab8a31.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-ccba16c1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-c5a5112e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-4b4ab4aa.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-26f9ae88.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-17bf2210.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-1cfd0ae8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-7b5d2477.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-47d1fc33.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-9a7aad1f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-a8bc2f91.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-4e9cc520.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-0128cf46.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-ea57f083.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-c27e264d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-8f7470e4.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Blocks/SimpleCell.svelte-5e2b53cc.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-22cea066.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Avatar-abec781d.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/utils-d43c3284.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
			
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

			<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
							</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

					

					

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="Div Div--android article svelte-qune13"><div class="header svelte-ok5jb9">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Blocks/SimpleCell/SimpleCell.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Blocks/SimpleCell/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-ok5jb9"><h1 id="simplecell">SimpleCell</h1>
<h2 id="пример">Пример</h2>


<div class="fixable svelte-195zffa"><div class="svelte-195zffa">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-195zffa">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-195zffa">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-195zffa">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-195zffa">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-195zffa">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-195zffa Example__in  scroll" style="width:320px;height:414px;">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Меню</span>
			</span>
		</div>

	
</header>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--exp SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--user_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#user_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Аккаунт
	</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--exp SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--palette_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#palette_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Внешний вид
	</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--exp SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" slot="before" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--settings_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#settings_outline_28" style="fill: currentColor;"></use></svg></div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Основные
	</span>
			</div>
		</div>
	
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Настройки</span>
			</span>
		</div>

	
</header>
	



<div role="button" aria-disabled class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Сжимать фотографии
	</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input slot="after" checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	</div>
	



<div role="button" aria-disabled class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Сжимать видео
	</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input slot="after" type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Настройки системы</span>
			</span>
		</div>

	
</header>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--exp SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Язык</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">Русский</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--exp SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Геолокация</span>
			</div>
		</div>
	
<span class="Text Text--android Text--w-regular SimpleCell__indicator svelte-1ncu6iw">При использовании</span>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Список диалогов</span>
			</span>
		</div>

	
</header>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-default Avatar--sz-40 Avatar--shadow svelte-1q8vrtl" role="img" style="; width: 40px; height: 40px; border-radius:50%"><img src="https://sun9-65.userapi.com/Jm47wQlR6z_R_rbAd_7LUf0NQg7QAv35MpvNhA/Ht8eYywub4o.jpg?ava=1" alt="" class="Avatar__img svelte-1q8vrtl">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Игорь Фёдоров
	</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--message_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#message_outline_28" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-default Avatar--sz-40 Avatar--shadow svelte-1q8vrtl" role="img" style="; width: 40px; height: 40px; border-radius:50%"><img src="https://sun9-61.userapi.com/O-2f7t0yecmx38WXoF37RkhkJTG2rcjL4Yq88w/J39s0u1f90c.jpg?ava=1" alt="" class="Avatar__img svelte-1q8vrtl">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Artur Stambultsian
	</span>
			</div>
		</div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--message_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#message_outline_28" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>


<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		<header class="Header Header--android Header--mode-secondary svelte-pwrmxj"><div class="Header__main svelte-pwrmxj">

<span class="Caption Caption--android Caption--w-medium Caption--l-1 Caption--caps Header__content svelte-8u9koe"><span class="Header__content-in svelte-pwrmxj">Список друзей</span>
			</span>
		</div>

	
</header>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="img" style="; width: 48px; height: 48px; border-radius:50%"><img src="https://sun9-65.userapi.com/Jm47wQlR6z_R_rbAd_7LUf0NQg7QAv35MpvNhA/Ht8eYywub4o.jpg?ava=1" alt="" class="Avatar__img svelte-1q8vrtl">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Игорь Фёдоров
	</span>
			<span class="SimpleCell__badge svelte-1u118ma"><div role="presentation" slot="badge" class="Icon Icon--16 Icon--w-16 Icon--h-16 Icon--verified_12 "><svg viewBox="0 0 16 16" width="16" height="16" style="display:block"><use xlink:href="#verified_12" style="fill: currentColor;"></use></svg></div></span></div>
		<span class="SimpleCell__description Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Команда ВКонтакте</span></div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--message_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#message_outline_28" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
	



<div tabIndex="0" role="button" aria-disabled="false" class="SimpleCell SimpleCell--android SimpleCell--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact">

<div class="Avatar Avatar--android Avatar--type-default Avatar--sz-48 Avatar--shadow svelte-1q8vrtl" role="img" style="; width: 48px; height: 48px; border-radius:50%"><img src="https://sun9-61.userapi.com/O-2f7t0yecmx38WXoF37RkhkJTG2rcjL4Yq88w/J39s0u1f90c.jpg?ava=1" alt="" class="Avatar__img svelte-1q8vrtl">
	
	
	
</div>
	<div class="SimpleCell__main svelte-1u118ma"><div class="SimpleCell__content">
<span class="Text Text--android Text--w-regular SimpleCell__children svelte-1ncu6iw">Artur Stambultsian
	</span>
			</div>
		<span class="SimpleCell__description Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Бот</span></div>
	
	<div class="SimpleCell__after svelte-1u118ma">

<button slot="after" class="IconButton IconButton--android IconButton IconButton--sizeY-compact Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--message_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#message_outline_28" style="fill: currentColor;"></use></svg></div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
			</div>
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> Header<span class="token punctuation">,</span> SimpleCell<span class="token punctuation">,</span> Switch<span class="token punctuation">,</span> Avatar<span class="token punctuation">,</span> IconButton <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> getAvatarUrl <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'$site/data/utils'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28UserOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/user_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28PaletteOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/palette_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28SettingsOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/settings_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon28MessageOutline <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/28/message_outline'</span><span class="token punctuation">;</span>
	<span class="token keyword">import</span> Icon12Verified <span class="token keyword">from</span> <span class="token string">'@sveltevk/icons/dist/12/verified'</span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Меню<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">expandable</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28UserOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		Аккаунт
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">expandable</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28PaletteOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		Внешний вид
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">expandable</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28SettingsOutline</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		Основные
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Настройки<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">disabled</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Switch</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span> <span class="token attr-name">checked</span> <span class="token punctuation">/></span></span>
		Сжимать фотографии
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">disabled</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Switch</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		Сжимать видео
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Настройки системы<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">expandable</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Русский<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Язык<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">expandable</span> <span class="token attr-name">indicator</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>При использовании<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Геолокация<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Список диалогов<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">40</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_xyz'</span><span class="token punctuation">)</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28MessageOutline</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		Игорь Фёдоров
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">40</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_arthurstam'</span><span class="token punctuation">)</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28MessageOutline</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		Artur Stambultsian
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Header</span> <span class="token attr-name">mode</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>secondary<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>Список друзей<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Header</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Команда ВКонтакте<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">48</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_xyz'</span><span class="token punctuation">)</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon12Verified</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>badge<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28MessageOutline</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		Игорь Фёдоров
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SimpleCell</span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Бот<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Avatar</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>before<span class="token punctuation">"</span></span> <span class="token attr-name">size=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">48</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">src=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token function">getAvatarUrl</span><span class="token punctuation">(</span><span class="token string">'user_arthurstam'</span><span class="token punctuation">)</span><span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>IconButton</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>after<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
			<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Icon28MessageOutline</span> <span class="token punctuation">/></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>IconButton</span><span class="token punctuation">></span></span>
		Artur Stambultsian
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SimpleCell</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre></article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="1vtuvdy">
		import { start } from "/VKSUI/_app/start-ac9b29a6.js";
		start({
			target: document.querySelector('[data-hydrate="1vtuvdy"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-be6cfdfe.js"),
						import("/VKSUI/_app/pages/components/Blocks/SimpleCell.svelte-5e2b53cc.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
