<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="VKSUI library" />
		<link rel="icon" href="/VKSUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Textarea — VKSUI</title>
	<link rel="stylesheet" href="/VKSUI/_app/assets/pages/__layout.svelte-8a8eb3a8.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/File.svelte_svelte_type_style_lang-7e0a71c2.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/Showcase-51838312.css">
	<link rel="stylesheet" href="/VKSUI/_app/assets/APIDocs-490422f4.css">
	<link rel="modulepreload" href="/VKSUI/_app/start-3deebf4e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/vendor-705c6f74.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/__layout.svelte-2e87ad11.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/File.svelte_svelte_type_style_lang-d8b2afd3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Panel-fc52181b.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeader-a3d9ca81.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Separator-f0f0fff0.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Text-9c08979c.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Touch-4189a9f9.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderButton-f9ce558e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Tappable-20c88b88.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Title-fda8a411.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/PanelHeaderClose-4b11e386.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Group-447bcf44.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Caption-3bca71e3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Link-e4bf05da.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/SimpleCell-a2bf4d5f.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Headline-b03c1e76.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Subhead-3af5515a.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Header-a80ffb58.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Icon28TokenizedOutline-52a4e88e.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Footer-c8a10cc3.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Search-54a917c8.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/IconButton-3a9561da.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Div-bc14436c.js">
	<link rel="modulepreload" href="/VKSUI/_app/pages/components/Forms/Textarea.svelte-06a1ef56.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/Showcase-8d380aaf.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/FormItem-a6be91e9.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/FormField-012cb7b1.js">
	<link rel="modulepreload" href="/VKSUI/_app/chunks/APIDocs-c55e0504.js">
	</head>
	<body>
		<div class="vkui vkui__root">






<div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb"><div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--no-left PanelHeader--no-right PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left"></div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in"></span></div>
	<div class="PanelHeader__right"></div></div></div>
</div>
	
</div>
			
	<div class="Doc SplitLayout__inner SplitLayout__inner--header svelte-12lh0hf">

			<div class="SplitCol svelte-1y7eiql" style="max-width: 1360px;"><div class="Panel Panel--android Panel--compact Panel--sizeX-compact svelte-7y6wk0">

<div class="Panel__in" data-tooltip-container="true">
		<div class="Panel__in-before svelte-7y6wk0"></div>
		<div class="PanelHeader PanelHeader--android PanelHeader--vis PanelHeader--sep PanelHeader--fixed PanelHeader--sizeX-compact"><div data-tooltip-container="fixed" class="FixedLayout FixedLayout--android FixedLayout--top PanelHeader__fixed svelte-4gt3zs" style=""><div class="FixedLayout__in"><div class="PanelHeader__in" data-tooltip-container="fixed"><div class="PanelHeader__left">

<button class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--menu_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#menu_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button>
							</div>
	<div class="PanelHeader__content"><span class="PanelHeader__content-in">@sveltevk/vksui</span></div>
	<div class="PanelHeader__right">

<button slot="right" class="PanelHeaderButton PanelHeaderButton--android PanelHeaderButton--notPrimitive Tappable Tappable--android Tappable--sizeX-compact"><div role="presentation" class="Icon Icon--28 Icon--w-28 Icon--h-28 Icon--moon_outline_28 "><svg viewBox="0 0 28 28" width="28" height="28" style="display:block"><use xlink:href="#moon_outline_28" style="fill: currentColor;"></use></svg></div>
	
	
	<span aria-hidden="true" class="Tappable__hoverShadow svelte-jwr959"></span>
	<span aria-hidden="true" class="svelte-mxwvzm FocusVisible FocusVisible--inside"></span></button></div></div></div>
</div>
	

<div class="Separator Separator--android PanelHeader__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</div>

					

					

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		

<div class="article Div Div--android svelte-1objkvf"><div class="header svelte-1lu72gb">

<a href="https://github.com/sveltevk/VKSUI/tree/master/src/lib/components/Forms/Textarea/Textarea.svelte" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">GitHub</div>
</a>
		

<a href="https://github.com/sveltevk/VKSUI/edit/master/src/lib/components/Forms/Textarea/README.md" target="_blank" rel="noopener noreferrer" class="Link Link--android svelte-4piery">

<div class="Caption Caption--android Caption--w-regular Caption--l-1 svelte-8u9koe">Редактировать страницу</div>
</a></div>
	<article class="svelte-1lu72gb"><h1 id="textarea">Textarea</h1>
<p>Надстройка над <code>&lt;textarea /&gt;</code>. Компонент принимает все валидные для этого элемента свойства.</p>
<h2 id="пример">Пример</h2>


<div class="fixable svelte-3bec25"><div class="svelte-3bec25">platform:
		<select><option value="android">android</option><option value="ios">ios</option><option value="vkcom">vkcom</option></select></div>
	<div class="svelte-3bec25">appearance:
		<select><option value="light">light</option><option value="dark">dark</option></select></div>
	
		<div class="svelte-3bec25">windowWidth:
			<select ><option value="1280">1280px</option><option value="1024">1024px</option><option value="768">768px</option><option value="320">320px</option></select></div>
		<div class="svelte-3bec25">windowHeight:
			<select><option value="414">414px</option><option value="720">720px</option></select></div>
		<div class="svelte-3bec25">hasMouse:
			

<label class="Switch Switch--android Switch--sizeY-compact svelte-198n22t" style="" role="presentation"><input checked type="checkbox" class="Switch__self svelte-198n22t">
	<span class="Switch__pseudo svelte-198n22t"></span>
</label></div></div>

<div class="Example svelte-3bec25">

<div  class="vkui vkui__root vkuibright_light vkui--vkBase--light svelte-3bec25 Example__in  scroll" style="width:320px;height:414px;"><div class="vkuibright_light vkui--vkBase--light AppRoot AppRoot--no-mouse svelte-1y959sv"><div class="SplitLayout SplitLayout--android PopoutRoot svelte-kv3azb">
	<div class="SplitLayout__inner svelte-12lh0hf"><div class="SplitCol svelte-1y7eiql" style="">

<section class="Group Group--android Group--sizeX-compact Group--plain svelte-15ipv0f"><div class="Group__inner svelte-15ipv0f">
		




<label class="FormItem FormItem--android FormItem--default FormItem--sizeY-compact FormItem--withTop svelte-fp7f3b"><h5 class="FormItem__top Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Любимая музыка</h5>
		<div class="Textarea Textarea--android Textarea--sizeY-compact FormField FormField--android FormField--sizeY-compact" style=""><textarea placeholder="Группы, исполнители, продюсеры" rows="2" class="Textarea__el svelte-16gpp2q"></textarea>
	
	<div role="presentation" class="FormField__border"></div></div>
		
</label>
	




<label class="FormItem FormItem--android FormItem--default FormItem--sizeY-compact FormItem--withTop svelte-fp7f3b"><h5 class="FormItem__top Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Увлечения</h5>
		<div class="Textarea Textarea--android Textarea--sizeY-compact FormField FormField--android FormField--sizeY-compact" style=""><textarea cols="4" placeholder="Музыка, спорт" rows="2" class="Textarea__el svelte-16gpp2q">Музыка
Спорт
Фотография
Плавание
Программирование</textarea>
	
	<div role="presentation" class="FormField__border"></div></div>
		
</label>
	




<label class="FormItem FormItem--android FormItem--default FormItem--sizeY-compact FormItem--withTop svelte-fp7f3b"><h5 class="FormItem__top Subhead Subhead--sizeY-compact Subhead--w-undefined svelte-1j3e1cx">Прикидываемся Input</h5>
		<div class="Textarea Textarea--android Textarea--sizeY-compact FormField FormField--android FormField--sizeY-compact" style=""><textarea placeholder="Once upon a time" rows="1" class="Textarea__el svelte-16gpp2q"></textarea>
	
	<div role="presentation" class="FormField__border"></div></div>
		
</label>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
</div></div>
	
	
</div></div></div>

	
</div>
<h2 id="код">Код</h2>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span><span class="token punctuation">></span></span><span class="token script"><span class="token language-javascript">
	<span class="token keyword">import</span> <span class="token punctuation">&#123;</span> Group<span class="token punctuation">,</span> FormItem<span class="token punctuation">,</span> Textarea <span class="token punctuation">&#125;</span> <span class="token keyword">from</span> <span class="token string">'@sveltevk/vksui'</span><span class="token punctuation">;</span>

	<span class="token keyword">const</span> text <span class="token operator">=</span> <span class="token template-string"><span class="token template-punctuation string">&#96;</span><span class="token string">Музыка&#92;nСпорт&#92;nФотография&#92;nПлавание&#92;nПрограммирование</span><span class="token template-punctuation string">&#96;</span></span><span class="token punctuation">;</span>
</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Group</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>FormItem</span> <span class="token attr-name">top</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Любимая музыка<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Textarea</span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Группы, исполнители, продюсеры<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>FormItem</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>FormItem</span> <span class="token attr-name">top</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Увлечения<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Textarea</span> <span class="token attr-name">cols=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">4</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Музыка, спорт<span class="token punctuation">"</span></span> <span class="token attr-name">value=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span>text<span class="token punctuation">&#125;</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>FormItem</span><span class="token punctuation">></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>FormItem</span> <span class="token attr-name">top</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Прикидываемся Input<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
		<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Textarea</span> <span class="token attr-name">rows=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">1</span><span class="token punctuation">&#125;</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Once upon a time<span class="token punctuation">"</span></span> <span class="token punctuation">/></span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>FormItem</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Group</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<h2>Свойства</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th>
					<th class="svelte-18l4ucz">Type</th>
					<th class="svelte-18l4ucz">Default</th>
					<th class="svelte-18l4ucz">Description</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">rows</td>
						<td class="token attr-value svelte-18l4ucz">number</td>
						<td class="svelte-18l4ucz"><code>2</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">grow</td>
						<td class="token attr-value svelte-18l4ucz">boolean</td>
						<td class="svelte-18l4ucz"><code>true</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">value</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">style</td>
						<td class="token attr-value svelte-18l4ucz">string</td>
						<td class="svelte-18l4ucz"><code>&#39;&#39;</code></td>
						<td class="svelte-18l4ucz"></td>
					</tr></tbody></table></div>

<blockquote><p><b>Этот компонент использует <code>$$restProps</code></b></p>
		<p>Все прочие свойства будут переданы базовому элементу <code>textarea</code></p>
		<p><a href="https://svelte.dev/docs#template-syntax-attributes-and-props" target="_blank" rel="noopener noreferrer">Подробнее</a></p></blockquote>



<h2>События</h2>

	<div class="Table svelte-18l4ucz"><table class="svelte-18l4ucz"><thead><tr><th class="svelte-18l4ucz">Name</th></tr></thead>
			<tbody><tr><td class="token attr-name svelte-18l4ucz">on:change</td>
					</tr><tr><td class="token attr-name svelte-18l4ucz">on:resize</td>
					</tr></tbody></table></div></article>
</div>
		</div>

	

<div class="Separator Separator--android Group__separator svelte-x9cuz" aria-hidden="true"><div class="Separator__in svelte-x9cuz"></div>
</div>
</section>
		<div class="Panel__in-after svelte-7y6wk0"></div></div>
</div>
</div></div>
	
	
</div></div>


		<script type="module" data-hydrate="eovdqo">
		import { start } from "/VKSUI/_app/start-3deebf4e.js";
		start({
			target: document.querySelector('[data-hydrate="eovdqo"]').parentNode,
			paths: {"base":"/VKSUI","assets":"/VKSUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/VKSUI/_app/pages/__layout.svelte-2e87ad11.js"),
						import("/VKSUI/_app/pages/components/Forms/Textarea.svelte-06a1ef56.js")
				],
				params: {}
			}
		});
	</script></div>
	</body>
</html>
